*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
   list-style-type: none;
   color: black;
}
.main{
    height: 650px;
    margin: 15px; 
    margin-left: 20px;
}

.main__section {
    flex: 15%;
    background-color: #ECECEC;
    border: 2px solid #d0cfcf;
    border-radius: 15px;
    padding: 20px;
}

.main-box{
    display: flex;
    padding-left: 20px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: rgb(250, 250, 250); 
    border: 2px solid #d0cfcf;
    border-radius: 10px;
    height: 72px;
    background-color: rgb(250, 250, 250); 
    border: 2px solid #d0cfcf; 
}

.main-second{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
}
.main-combo-elem{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95px;
    border: 2px solid #d0cfcf;
    border-radius: 8px;
    background-color:  rgb(250, 250, 250);
    padding: 7px; 
    margin-left: 15px;

}

.main-second-elem2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 45px;
    border: 2px solid #d0cfcf;
    border-radius: 8px;
    background-color:  rgb(250, 250, 250);
    padding: 7px;
    position: absolute;
    margin-left: -32px;
    margin-top: -23px;
}
.a {
    width: 100%;
}
.foto{
    width: 30px;
}
.main-combo {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.main-combo-list {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 100%; 
}

.main-combo-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    align-items: center; 
}

.main-combo-item{
    background: #3cbee6;
    border-radius: 13px;
    cursor: pointer;
}

.main-combo-item1:nth-child(1){
    background: #25FF18;
    border-radius: 13px;
    width: 256px;
    height: 101px;
    font-size: 17px;
}
.main-combo-item2:nth-child(1) {
    background: #FF9A18;
    border-radius: 13px;
    width: 256px;
    height: 101px;
    font-size: 17px;
}
.main-combo-item3:nth-child(1) {
    background: #FF2C18;
    border-radius: 13px;
    width: 256px;
    height: 101px;
    font-size: 17px;
}
.main-combo-item4:nth-child(1) {
    background: #50C878;
    border-radius: 13px;
    width: 256px;
    height: 101px;
    font-size: 17px;
}
.main-combo-item5:nth-child(1) {
    background: #6495ED;
    border-radius: 13px;
    width: 256px;
    height: 101px;
    font-size: 17px;
}
.main-combo-item6:nth-child(1) {
    background: #CA52E0;
    border-radius: 13px;
    width: 256px;
    height: 101px;
    font-size: 17px;
}
.main-combo-item7:nth-child(1) {
    background: #F1E141;
    border-radius: 13px;
    width: 256px;
    height: 101px;
    font-size: 17px;
}
.main-combo-item8:nth-child(1) {
    background: #25FF18;
    border-radius: 13px;
    width: 256px;
    height: 101px;
    font-size: 17px;
}
.main-combo-item9:nth-child(1) {
    background: #FF9A18;
    border-radius: 13px;
    width: 256px;
    height: 101px;
    font-size: 17px;
}
.main-combo-item10:nth-child(1) {
    background: #FF2C18;
    border-radius: 13px;
    width: 256px;
    height: 101px;
    font-size: 17px;
}
.two{
    height: 650px;
    flex: 1;
    background-color: rgb(215, 240, 244);
    background-color: #ECECEC;
    border: 2px solid #d0cfcf;
    border-radius: 15px;
    margin-left: 31px;
    
}
.two_container{
    width: 90%;
    height: 11%;
    border: 2px solid #d0cfcf;
    margin-left: 5%;
    display: flex;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #fff;
}
.two-exat{
    width: 120%;
    height: 70%;
    margin-top: 10px;
    border-radius: 10px;
    border: 2px solid #e21313;
    background-color:  rgb(228, 25, 25);
}
.images{
    width: 70%;
    height: 90%;
    margin-left: 15%;
    margin-top: 5%;
}
.two-box{
    width: 85%;
    margin-left: 10px;
    display: flex;
    align-items: center;    
    height: 70%;
    margin-top: 10px;
}
.two-bb{
    background: #9C9C9C;
    border-radius: 15px;
    display: flex;
    height: 74px;
    justify-content: space-around;
    width: 89%;
    margin-left: 51px;
    align-items: center;
    margin-top: 11px;
    position: relative;
    top: 451px;
    float: right;
    right: 32px;
}
.nimadur {
    margin-left: -435px;
}
.nimadur2{
    margin-right: -466px;
    position: absolute;
}

