*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    height: 650px;
    margin: 15px; 
    margin-left: 20px;
}
.main__section {
    flex: 15%;
    background-color: #ECECEC;
    border: 2px solid #d0cfcf;
    border-radius: 15px;
    padding: 20px;
}
.main2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 106px;
    border: 2px solid #d0cfcf;
    border-radius: 8px;
    background-color: #ECECEC;
    padding: 7px;
    margin-left: -6px;
}
.mfoto{
    width: 30px;
}
.ma3{    
    float: left;
    margin-left: 20px;
}

.main-box{
    display: flex;
    padding-left: 20px;
    align-items: center;
    margin-bottom: 20px;
    background-color: rgb(250, 250, 250); 
    border: 2px solid #d0cfcf;
    border-radius: 10px;
    height: 72px;
    background-color: rgb(250, 250, 250); 
    border: 2px solid #d0cfcf; 
}

.main-second{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
}
h2 {
    color: black;
    text-decoration: none !important;
}
a {
    color: black;
    text-decoration: none !important;
}
.a {
    width: 100%;
    text-decoration: none !important;
}
.foto{
    width: 30px;
}
.main-combo-list {
    height: 500px;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.main-combo-list::-webkit-scrollbar {
    display: none;
}
.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.main-combo-list {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 100%; 
}

.main-combo-item{
    text-align: left;
    height: 100px;
    border-radius: 8px;
}

.main-combo-item{
    background-color:  rgb(250, 250, 250);
    border: 2px solid #d0cfcf;
    padding: 2% 5%;
}

.main-combo-item:nth-child(1){
    background-color:  rgb(250, 250, 250);
    border: 2px solid #d0cfcf;
}
.main-combo-item:nth-child(2){
    background-color:  rgb(250, 250, 250);
    border: 2px solid #d0cfcf;
}
.main-combo-item:nth-child(3){
    background-color:  rgb(250, 250, 250);
    border: 2px solid #d0cfcf;
}
.main-combo-item:nth-child(4){
    background-color:  rgb(250, 250, 250);
    border: 2px solid #d0cfcf;
}
.main-combo-item:nth-child(5){
    background-color:  rgb(250, 250, 250);
    border: 2px solid #d0cfcf;
}
.main-combo-item:nth-child(6){
    background-color:  rgb(250, 250, 250);
    border: 2px solid #d0cfcf;
}
.main-combo-item:nth-child(7){
    background-color:  rgb(250, 250, 250);
    border: 2px solid #d0cfcf;
}
.two{
    height: 650px;
    flex: 1;
    background-color: rgb(215, 240, 244);
    background-color: #ECECEC;
    border: 2px solid #d0cfcf;
    border-radius: 15px;
    margin-left: 31px;
    
}
.two_container{
    width: 90%;
    height: 11%;
    border: 2px solid #d0cfcf;
    margin-left: 5%;
    display: flex;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #fff;
}
.two-exat{
    width: 10%;
    height: 70%;
    margin-top: 10px;
    border-radius: 10px;
    border: 2px solid #e21313;
    background-color:  rgb(228, 25, 25);
}
.images{
    width: 70%;
    height: 90%;
    margin-left: 15%;
    margin-top: 5%;
}
.two-box{
    width: 85%;
    margin-left: 10px;
    display: flex;
    align-items: center;    
    height: 70%;
    margin-top: 10px;
}
.two-bb{
    background: #9C9C9C;
    border-radius: 15px;
    display: flex;
    height: 74px;
    justify-content: space-around;
    width: 89%;
    margin-left: 51px;
    align-items: center;
    margin-top: 11px;
    position: relative;
    top: 451px;
    float: right;
    right: 32px;
}
.nimadur {
    margin-left: -435px;
}
.nimadur2{
    margin-right: -466px;
    position: absolute;
}
.two-exat{
    width: 120%;
    height: 70%;
    margin-top: 10px;
    border-radius: 10px;
    border: 2px solid #e21313;
    background-color:  rgb(228, 25, 25);
}
.salom {
    font-size: 1.7em;
    margin-bottom: 10%;
}
.salom1 {
    color: #48c544;
    font-size: 1.9em;
}
